#container{
  font-family: "Avenir Next";
  background-color:pink;
  padding:0px 30px;
  height:100%;
  border:solid 1px black;
}
header{
  width:100%;
  height:100px;
  margin-bottom:15px;
  border:solid 1px black;
}
#top{
  width:auto;
  border:solid 1px blue;
}
.header-logo{
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;

  font-size: 150%;
  font-color:red;
  float:left;
}
#top-image{
  width:30px;
  height:30px;
  float:left;
  border:solid 1px aqua;
  border-radius:50%;
}
.header-list{
  padding-right:10px;
  float:right;
  font-size: 100%;
  font-color:black;
  font-family:serif;
  border:solid 1px black;
}
main#test{
  width:100%;
  height:20px;
  margin-bottom:50px;
}
main#A{
  float:left;
  margin-right:-160px;
  width:100%;
}
.extra{
  width:150px;
}
#extra-calender{
  height:205px;
}
#extra{
  font-size: 100%;
  font-color: red;
  float:right;
  height:auto;
  background-color:aqua;
  /*border:2px solid blue;*/
}
main#B{
  margin-right:160px;
  height:100px;
}
#left-contents{
  float:left;
  width:150px;
  border:2px solid red;
  background-color:#f00000;
}
main#C{
  float:right;
  margin-left:-160px;
  height:30px;
  width:100%;
}
section#center{
  margin-left:160px;
  height:100px;
  background-color:white;
  border:2px solid black;
}
li{
  list-style:none;
  color:red;
}
footer{
  background-color:black;
  color:white;
  margin-top:250px;
  float:left;
  width:100%;
  height:50px;
}
