.header-logo{
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;

  font-size: 20px;
  font-color:red;
  float:left;
}
.header-list{
  float:right;
  font-size: 15px;
  font-color:black;
}
h1{
  color:#ff0000;
  font-size: 20px;
  font-family: serif;
  background-color: yellow;
}
h2{
  color:#ff0000;
  font-size: 20px;
  font-family: serif;
  background-color: black;
}
body{
  font-family: "Avenir Next";
  background-color:#ffd800;
}
.left{
  font-size: 10px;
  font-color: red;
  float:left;
}
.center{
  font-size: 40px;
  font-color: red;
  background-color:black;
}
.right{
  font-size: 40px;
  background-color:yellow;
  float:right;
}
li{
  list-style:none;
  color:red;
}
script{
  font-size: 40px;
  font-color: black;
  width: 1350px;
  height: 80px;
}
