head{
  color:#ff0000;
  font-size: 10px;
  font-family: serif;
  background-color: orange;
}
body{
  color:#0000ff;
  font-size: 3px;
  font-family: "Avenir Next";
  background-color:#ffd800;
}
.header{
  font-size: 10px;
  font-color: red;
}
.main{
  font-size: 40px;
  font-color: red;
}
.footer{
  font-size: 40px;
}
li{
  list-style:none;
  color:red;
}
script{
  font-size: 30px;
  font-color: pink;
}
