#container{
  font-family: "Avenir Next";
  background-color:pink;
  padding:0px 30px;
  height:100%;
  border:solid 1px black;
}
header{
  background-color:black;
  width:100%;
  height:100px;
  margin-bottom:15px;
}
main#test{
  width:100%;
  height:20px;
  margin-bottom:50px;
}
main#A{
  float:left;
  margin-right:-160px;
  width:100%;
}
#extra{
  font-size: 10px;
  font-color: red;
  float:right;
  width:150px;
  height:50px;
  background-color:black;
}
main#B{
  margin-right:160px;
  height:100px;
}
#left-contents{
  float:left;
  width:150px;
  height:20px;
  background-color:red;
}
main#C{
  float:right;
  margin-left:-160px;
  height:30px;
  width:100%;
}
section#center{
  margin-left:160px;
  height:100px;
  background-color:white;
  border:2px solid black;
}
footer{
  background-color:orange;
  margin-top:250px;
  float:left;
  width:100%;
  height:50px;
}
/*
.header-logo{
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;


  font-size: 20px;
  font-color:red;
  float:left;
}
#header-logo img{
  width:30px;
  height:30px;
}
#header-list{
  float:right;
  font-size: 15px;
  font-color:black;
  font-family:serif;
}
li{
  list-style:none;
  color:red;
}
*/
